/* Header Styling Starts */

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #316dc3;
}

#navbarNavDropdown {
  text-align: center;
}
#IconImageHeader {
  height: 20px;
}
.HeaderIconList {
  padding: 0px;
  margin: 0px;
}
.HeaderIconList li {
  list-style: none;
  display: inline;
  margin-left: 15px;
}
.CenterHeaderText {
  color: white;
  font-size: 16px;
}

#Coltop {
  padding: 5px;
}
#CenterTextTop {
  margin-top: 8px;
}

#SaylaniLogo {
  height: 200%;
  width: 200px;
  /* margin-left: 340px; */
}

#rowalign {
  text-align: center;
}

nav {
  top: 0px;
  position: sticky;
  width: 100%;
  margin: 0px;
}
#MainDivNavBar {
  background-color: #f7f8fa !important;
}

.navbar {
  padding: 0px;
  text-align: center;
}

#Navbbarlist li a {
  text-decoration: none;
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
}

#Navbbarlist li a:hover {
  border-radius: 30px;
  border: 1px solid #316dc3;
  background-color: #316dc3;
  color: white;
}
.MainNavDiv {
  margin-left: 300px;
  margin-right: 300px;
}
#Navbbarlist {
  margin-left: 250px;
}

/* Navigation Styling Ends */

/* Image Slider Starts*/

#SliderImage {
  height: 500px;
  width: 100%;
}

/* Image Slider Ends */

/* Section1 Starts */

.IntroductionParagraph {
  margin-left: 445px;
  margin-right: 445px;
  color: #666666;
}

#LineSeperator {
  border: 1px solid #427900;
  width: 40px;
}

#HeadingBlue {
  color: #316dc3;
}

#HeadingGreen {
  color: #427900;
}

#IntroductionPara {
  font: 14px;
  margin: 10px;
  color: #666666;
}

#IntroductionHeading {
  margin: 10px;
  font: 60px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.MainSectionDiv {
  background-color: rgb(248, 246, 246);
}

#Headlinewords {
  background-color: #316dc3;
  padding: 1px;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#NewsHeadlineGreen {
  color: rgb(159, 255, 159);
}
#NewsHeadlineWhite {
  color: white;
}

#Headlinewords {
  margin: 0px;
  padding: 10px;
}

#NewsHeadlineMoredetails {
  text-decoration: none;
  color: #12ece1;
}

#NewsHeadlineLightBlue {
  padding-right: 20px;
}

/* Section1 Ends */

/* Monthly Stats Divider Style Start */

.MainDivStats {
  color: white;
  /* margin-left: 300px;
  margin-right: 300px; */
}

#MakeitGreen {
  color: #8efc08;
}

.BackgroundColorStatsDiv {
  background-color: rgba(36, 79, 242, 0.8);
  padding-left: 60px;
  padding-right: 60px;
}

#StatsImageIcon {
  width: 15%;
  padding-top: 30px;
}

#AlignStats {
  text-align: center;
}
#StatsDiv {
  height: 180px;
  width: 230px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#StatsDivh2 {
  font-size: 44px;
  color: white;
  margin: 15px;
}

#StatsDivh5 {
  font-size: 14px;
  color: white;
  margin: 15px;
}
/* Monthly Stats Divider Style End */

/* Section 2 Style Starts */

#Section2DivSize1 {
  height: 200px;
  width: 400px;
  text-align: center;
  padding: 30px;
  display: inline-block;
  margin: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #cccccc;
}

.AlignSingleLine {
  display: inline-block;
}

#Section2DivSize2 {
  height: 200px;
  width: 400px;
  text-align: center;
  padding: 30px;
  display: inline-block;
  margin: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px #cccccc;
}

#Section2DivSize2 h4,
#Section2DivSize1 h4 {
  color: #316dc3;
  font-size: 20px;
  margin: 15px;
}

.Section2DivRow1,
.Section2DivRow2 {
  text-align: center;
}

.MainDivSection2 {
  background-color: #f7f8fa;
}
/* Section 2 Style Ends */

/* Mission & Upcoming Projects Section Starts */

.Section3 {
  background-color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#UpcomingEventsHeading,
#MissionHeading {
  color: #316dc3;
  font-size: 25px;
}
#MissionIconLabels {
  padding-left: 40px;
}

.ForCenterAlignmentOfBelowDiv {
  text-align: center;
}

.AlignVericalMissionIcons {
  vertical-align: bottom;
  color: #316dc3;
  font-weight: bold;
}

#MissionDivSizing {
  border: 0.1px solid rgb(235, 235, 235);
  background-color: rgba(248, 248, 248, 0.863);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

#LineSeperatorthin {
  border: 0.05px solid #d6d6d6;
  width: 317px;
}

.UpcomingEvents {
  overflow: hidden;

  color: rgb(122, 122, 122);
}

#UpcomingEventsLine {
  margin-right: 80px;
}

#UpcomingEventsLine {
  padding-bottom: 10px;
}

#MoreDetailsSkyBlue {
  color: #165ebd;
  text-decoration: none;
}
.linesepratoralign {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* Mission & Upcoming Projects Section Ends */

/* IMAGE GALLERY Starts */

#ImageGalleryHeading {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 50px;
}

#ImageGallery {
  height: 150px;
  width: 210px;
  margin: 3px;
}

#ImageGallery:hover {
  box-shadow: 2px 2px 3px 3px rgba(190, 231, 247, 0.842);
}

.ImageGalleryCollection {
  padding-bottom: 150px;
}

#UpcomingEventsHeading,
.linesepratoralign,
.MarqueeEvents {
  display: block;
}

.ImageGalleryCollection {
  text-align: center;
}
/* IMAGE GALLERY Ends */

/* Footer Styling Starts */
.FooterMainDiv {
  background-color: #272727;
  padding-top: 50px;
}

.CopyrightRow {
  background-color: #333333;
}

#FooterEntity {
  color: rgb(3, 248, 3);
}

.Contactinfo,
.UsefulLinks,
.SocialMediaLinks {
  display: inline-block;

  height: 300px;
  width: 390px;
  overflow: hidden;
}

.CopyrightRow {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: #316dc3;
  color: white;
  font-size: 14px;
}
/* Footer Styling Ends */

.Contactinfo {
  color: #aaa9a9;
}

/* .FooterMainDiv {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 360px;
  padding-right: 360px;
} */

#FooterList li {
  list-style: none;
  padding-bottom: 10px;
}

#Iconfooter {
  width: 20px;
  height: 20px;
}

#SocialIconfooter {
  width: 35px;
  height: 35px;
}

#FooterHeading {
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}

#FooterList {
  padding: 0px;
}
#textfooter,
#Iconfooter {
  vertical-align: top;
}
#textfooter {
  padding-right: 20px;
}
.Contactinfo {
  font-size: 13px;
}

#LineSeperatorthinfooter {
  border: 0.01px solid #b9b9b9;
  width: 280px;
}

.linesepratoralignfooter {
  display: inline-block;

  margin: 0px;
  padding: 0px;
}
